  <div class="mat-elevation-z8">
    <mat-tab-group [backgroundColor]="'primary'">

      <mat-tab label="Especialistas">
        <table mat-table [dataSource]="especialistas" class="mat-elevation-z8 demo-table">
  
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
          </ng-container>
  
          <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef>Apellido</th>
            <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
          </ng-container>
  
          <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef>DNI</th>
            <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
          </ng-container>
  
          <ng-container matColumnDef="edad">
            <th mat-header-cell *matHeaderCellDef>Edad</th>
            <td mat-cell *matCellDef="let element">{{ element.edad }}</td>
          </ng-container>
  
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>
  
          <ng-container matColumnDef="especialidad">
            <th mat-header-cell *matHeaderCellDef>Especialidad</th>
            <td mat-cell *matCellDef="let element">{{ element.especialidades || '(N/A)' }}</td>
          </ng-container>
  
          <ng-container matColumnDef="fecha_registro">
            <th mat-header-cell *matHeaderCellDef>Fecha de Registro</th>
            <td mat-cell *matCellDef="let element">{{ (element.fecha_registro | date) || '(N/A)' }}</td>
          </ng-container>
  
          <ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef>Password</th>
            <td mat-cell *matCellDef="let element">{{ element.password }}</td>
          </ng-container>
  
          <ng-container matColumnDef="rol">
            <th mat-header-cell *matHeaderCellDef>Rol</th>
            <td mat-cell *matCellDef="let element">{{ element.rol == 1? 'Administrador': element.rol == 2? 'Especialista': element.rol == 3? 'Paciente': '(N/A)' }}</td>
          </ng-container>
  
          <ng-container matColumnDef="rutaArchivoUno">
            <th mat-header-cell *matHeaderCellDef>Ruta de Archivo Uno</th>
            <td mat-cell *matCellDef="let element">{{ element.rutaArchivoUno }}</td>
          </ng-container>
  
  
          <ng-container matColumnDef="validarEstado">
            <th mat-header-cell *matHeaderCellDef>Validar Estado</th>
            <td mat-cell *matCellDef="let element">
              <button class="btn btn-warning" *ngIf="!element.validarEstado && element.rol === 2" (click)="habilitarEstado(element)">Habilitar</button>
              <span *ngIf="element.validarEstado">Si</span>
              <span *ngIf="!element.validarEstado && element.rol !== 2">(N/A)</span>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="especialistasDisplayedColumns"></tr>
          <tr mat-row       
            (click)="handleClick(row)"
            *matRowDef="let row; columns: especialistasDisplayedColumns;">
          </tr>    
        </table>
      </mat-tab>

      <mat-tab label="Pacientes">
        <table mat-table [dataSource]="pacientes" class="mat-elevation-z8 demo-table">
  
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
          </ng-container>
  
          <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef>Apellido</th>
            <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
          </ng-container>
  
          <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef>DNI</th>
            <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
          </ng-container>
  
          <ng-container matColumnDef="edad">
            <th mat-header-cell *matHeaderCellDef>Edad</th>
            <td mat-cell *matCellDef="let element">{{ element.edad }}</td>
          </ng-container>
  
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>
  
          <ng-container matColumnDef="fecha_registro">
            <th mat-header-cell *matHeaderCellDef>Fecha de Registro</th>
            <td mat-cell *matCellDef="let element">{{ (element.fecha_registro | date) || '(N/A)' }}</td>
          </ng-container>
  
          <ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef>Password</th>
            <td mat-cell *matCellDef="let element">{{ element.password }}</td>
          </ng-container>
  
          <ng-container matColumnDef="rol">
            <th mat-header-cell *matHeaderCellDef>Rol</th>
            <td mat-cell *matCellDef="let element">{{ element.rol == 1? 'Administrador': element.rol == 2? 'Especialista': element.rol == 3? 'Paciente': '(N/A)' }}</td>
          </ng-container>
  
          <ng-container matColumnDef="rutaArchivoUno">
            <th mat-header-cell *matHeaderCellDef>Ruta de Archivo Uno</th>
            <td mat-cell *matCellDef="let element">{{ element.rutaArchivoUno }}</td>
          </ng-container>
  
          <ng-container matColumnDef="rutaArchivoDos">
            <th mat-header-cell *matHeaderCellDef>Ruta de Archivo Dos</th>
            <td mat-cell *matCellDef="let element">{{ element.rutaArchivoDos || '(N/A)' }}</td>
          </ng-container>
  
          <ng-container matColumnDef="obraSocial">
            <th mat-header-cell *matHeaderCellDef>Obra Social</th>
            <td mat-cell *matCellDef="let element">{{ element.obraSocial || '(N/A)' }}</td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="pacientesDisplayedColumns"></tr>
          <tr mat-row       
            (click)="handleClick(row)"
            *matRowDef="let row; columns: pacientesDisplayedColumns;">
          </tr>    
        </table>
      </mat-tab>

      <mat-tab label="Administradores">
        <table mat-table [dataSource]="administradores" class="mat-elevation-z8 demo-table">
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
          </ng-container>
  
          <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef>Apellido</th>
            <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
          </ng-container>
  
          <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef>DNI</th>
            <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
          </ng-container>
  
          <ng-container matColumnDef="edad">
            <th mat-header-cell *matHeaderCellDef>Edad</th>
            <td mat-cell *matCellDef="let element">{{ element.edad }}</td>
          </ng-container>
  
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>
  
          <ng-container matColumnDef="especialidad">
            <th mat-header-cell *matHeaderCellDef>Especialidad</th>
            <td mat-cell *matCellDef="let element">{{ element.especialidades || '(N/A)' }}</td>
          </ng-container>
  
          <ng-container matColumnDef="fecha_registro">
            <th mat-header-cell *matHeaderCellDef>Fecha de Registro</th>
            <td mat-cell *matCellDef="let element">{{ (element.fecha_registro | date) || '(N/A)' }}</td>
          </ng-container>
  
          <ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef>Password</th>
            <td mat-cell *matCellDef="let element">{{ element.password }}</td>
          </ng-container>
  
          <ng-container matColumnDef="rol">
            <th mat-header-cell *matHeaderCellDef>Rol</th>
            <td mat-cell *matCellDef="let element">{{ element.rol == 1? 'Administrador': element.rol == 2? 'Especialista': element.rol == 3? 'Paciente': '(N/A)' }}</td>
          </ng-container>
  
          <ng-container matColumnDef="rutaArchivoUno">
            <th mat-header-cell *matHeaderCellDef>Ruta de Archivo Uno</th>
            <td mat-cell *matCellDef="let element">{{ element.rutaArchivoUno }}</td>
          </ng-container>
  
  
          <tr mat-header-row *matHeaderRowDef="administradoresDisplayedColumns"></tr>
          <tr mat-row       
            (click)="handleClick(row)"
            *matRowDef="let row; columns: administradoresDisplayedColumns;">
          </tr>  
        </table>
      </mat-tab>

    </mat-tab-group>
  </div>
<br>

<mat-divider></mat-divider>
<br>
<h4 style="text-align: start;">REGISTRAR NUEVO USUARIO</h4>

<mat-tab-group [backgroundColor]="'primary'" animationDuration="0ms">
    <mat-tab label="Registrar Paciente">
        <app-registro-paciente></app-registro-paciente>
    </mat-tab>

    <mat-tab label="Registrar Especialista">
       <app-registro-especialista></app-registro-especialista>
    </mat-tab>

    <mat-tab label="Registrar Administrador">
        <app-registro-administrador></app-registro-administrador>
    </mat-tab>
</mat-tab-group>