<div class="container-fluid mt-5">
    <div class="welcome-card">
      <div class="text-container">
        <h2>Pide tu turno médicos  de forma digital</h2>
        <p>Atención de guardia 24hs y más de 20 especialidades médicas disponibles para atenderte desde tu celular o cualquier dispositivo. Individual y familiar.</p>
        <button class="btn btn-primary" routerLink="/registro">Registrarse</button>
      </div>
      <div class="image-container">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/bievenida/1.png" class="d-block w-100" alt="clinica_online">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/bievenida/2.png" class="d-block w-100" alt="clinica_online">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/bienvenida/3.png" class="d-block w-100" alt="clinica_online">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/bienvenida/4.png" class="d-block w-100" alt="clinica_online">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/bienvenida/5.png" class="d-block w-100" alt="clinica_online">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon custom-carousel-control" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon custom-carousel-control" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4 mb-4">
        <button class="card-button" routerLink="/solicitar-turnos">
          <div class="card text-center">
            <div class="card-body">
              <i class="material-icons md-48">calendar_today</i>
              <h5 class="card-title">Solicitar un Turno</h5>
              <p class="card-text">Reserva tu turno con el especialista que necesites de manera rápida y sencilla.</p>
            </div>
          </div>
        </button>
      </div>
      <div class="col-md-4 mb-4">
        <button class="card-button" routerLink="/mis-turnos">
          <div class="card text-center">
            <div class="card-body">
              <i class="material-icons md-48">event_note</i>
              <h5 class="card-title">Visualizar Turnos</h5>
              <p class="card-text">Consulta los turnos que has reservado y mantente al día con tus citas médicas.</p>
            </div>
          </div>
        </button>
      </div>
      <div class="col-md-4 mb-4">
        <button class="card-button">
          <div class="card text-center">
            <div class="card-body">
              <i class="material-icons md-48">person</i>
              <h5 class="card-title">Mi Perfil</h5>
              <p class="card-text">Accede a tu perfil para actualizar tu información personal y de contacto.</p>
            </div>
          </div>
        </button>
      </div>
    </div>
</div>

<div class="divider"></div>
 