.back-button-container {
    margin: 10px; 
  }
  
  button[mat-icon-button] {
    color: #007bff; 
    transition: transform 0.2s;
  }
  
  button[mat-icon-button]:hover {
    transform: scale(1.1);
  }

  .rounded-card {
    border-radius: 50%;
    overflow: hidden;
    padding: 20px;

  }
  
  .card-button {
    background: none;
    border: none;
    padding: 0;
    
  }
  
  .card-button .horizontal-card {
    border: solid rgb(134, 134, 134);
  }
  
  .card-body {
    text-align: center;
  }
  
  .card .material-icons {
    font-size: 48px;
    margin-right: 10px;
  }