<br>
<br>
<div class="card">
    <h5 class="card-title">Paciente</h5>
    <div class="row g-0">
      <div class="col-md-4">
        <div class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img [src]="primeraImagen" class="d-block w-100" alt="Imagen 1">
            </div>
            <div class="carousel-item">
              <img [src]="segundaImagen" class="d-block w-100" alt="Imagen 2">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target=".carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target=".carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 >{{ datosPaciente.apellido }}, {{ datosPaciente.nombre }}</h5>
          <p class="card-text">DNI: {{ datosPaciente.dni }}</p>
          <p class="card-text">Edad: {{ datosPaciente.edad }}</p>
          <p class="card-text">Email: {{ datosPaciente.email }}</p>
          <p class="card-text">Obra Social: {{ datosPaciente.obraSocial }}</p>
          <p class="card-text">Fecha de Registro: {{ datosPaciente.fecha_registro }}</p>
        </div>
      </div>
    </div>
  </div>