

.form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc; /* Borde sólido */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-color: #fff; /* Fondo blanco */
}

.form-field {
  margin-bottom: 20px;
  width: calc(50% - 10px); /* Ajuste para dos campos por fila */
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Espacio entre los campos */
}

button[type="submit"] {
  margin-top: 20px;
  align-self: flex-end;
}

.autoCompletar{
  background-color: rgb(145, 145, 145);
  width: 500px;
}