<form [formGroup]="formEspecialista" (ngSubmit)="registrarEspecialista()" class="form">
  <strong style="text-align: start;">Registrar Especialista</strong>
  <br>
  <div class="form-row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" required (blur)="formEspecialista.get('nombre')?.markAsTouched()">
      <mat-error *ngIf="formEspecialista.get('nombre')?.touched && (formEspecialista.get('nombre')?.hasError('required') || formEspecialista.get('nombre')?.hasError('pattern')) || formEspecialista.get('nombre')?.hasError('maxlength')">
        <span *ngIf="formEspecialista.get('nombre')?.hasError('required')">Nombre es requerido.</span>
        <span *ngIf="formEspecialista.get('nombre')?.hasError('pattern')">Debe contener solo letras.</span>
        <span *ngIf="formEspecialista.get('nombre')?.hasError('maxlength')">El nombre es muy largo, max: 15 caracteres.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido" required (blur)="formEspecialista.get('apellido')?.markAsTouched()">
      <mat-error *ngIf="formEspecialista.get('apellido')?.touched && (formEspecialista.get('apellido')?.hasError('required') || formEspecialista.get('apellido')?.hasError('pattern')) || formEspecialista.get('apellido')?.hasError('maxlength')">
        <span *ngIf="formEspecialista.get('apellido')?.hasError('required')">Apellido es requerido.</span>
        <span *ngIf="formEspecialista.get('apellido')?.hasError('pattern')">Debe contener solo letras.</span>
        <span *ngIf="formEspecialista.get('apellido')?.hasError('maxlength')">El apellido es muy largo, max: 15 caracteres.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Edad</mat-label>
      <input matInput formControlName="edad" required (blur)="formEspecialista.get('edad')?.markAsTouched()">
      <mat-error *ngIf="formEspecialista.get('edad')?.touched && (formEspecialista.get('edad')?.hasError('required') || formEspecialista.get('edad')?.hasError('min'))">
        <span *ngIf="formEspecialista.get('edad')?.hasError('required')">Edad es requerida.</span>
        <span *ngIf="formEspecialista.get('edad')?.hasError('min')">La edad debe ser mayor a 0.</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required (blur)="formEspecialista.get('email')?.markAsTouched()">
      <mat-error *ngIf="formEspecialista.get('email')?.touched && (formEspecialista.get('email')?.hasError('required') || formEspecialista.get('email')?.hasError('email'))">
        <span *ngIf="formEspecialista.get('email')?.hasError('required')">Email es requerido.</span>
        <span *ngIf="formEspecialista.get('email')?.hasError('email')">El email no es válido.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>DNI</mat-label>
      <input matInput formControlName="dni" required (blur)="formEspecialista.get('dni')?.markAsTouched()">
      <mat-error *ngIf="formEspecialista.get('dni')?.touched && (formEspecialista.get('dni')?.hasError('required') || formEspecialista.get('dni')?.hasError('minlength') || formEspecialista.get('dni')?.hasError('pattern'))">
        <span *ngIf="formEspecialista.get('dni')?.hasError('required')">DNI es requerido.</span>
        <span *ngIf="formEspecialista.get('dni')?.hasError('minlength')">El DNI debe tener al menos 8 dígitos.</span>
        <span *ngIf="formEspecialista.get('dni')?.hasError('pattern')">El DNI debe contener solo números.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" required (blur)="formEspecialista.get('password')?.markAsTouched()">
      <mat-error *ngIf="formEspecialista.get('password')?.touched && (formEspecialista.get('password')?.hasError('required') || formEspecialista.get('password')?.hasError('minlength'))">
        <span *ngIf="formEspecialista.get('password')?.hasError('required')">Password es requerido.</span>
        <span *ngIf="formEspecialista.get('password')?.hasError('minlength')">El password debe tener al menos 5 caracteres.</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Especialidades</mat-label>
      <mat-select formControlName="especialidades" multiple required (selectionChange)="onEspecialidadChange($event)">
        <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad.nombre">{{ especialidad.nombre }}</mat-option>
        <mat-option value="otra">Otra Especialidad</mat-option>
      </mat-select>
      <mat-error *ngIf="formEspecialista.get('especialidades')?.touched && formEspecialista.get('especialidades')?.hasError('required')">
        Especialidad es requerida.
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-row" *ngIf="isOtraEspecialidad">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Otra Especialidad</mat-label>
      <input matInput formControlName="otraEspecialidad" required (blur)="formEspecialista.get('otraEspecialidad')?.markAsTouched()">
      <mat-error *ngIf="formEspecialista.get('otraEspecialidad')?.touched && (formEspecialista.get('otraEspecialidad')?.hasError('required') || formEspecialista.get('otraEspecialidad')?.hasError('pattern'))">
        <span *ngIf="formEspecialista.get('otraEspecialidad')?.hasError('required')">Otra especialidad es requerida.</span>
        <span *ngIf="formEspecialista.get('otraEspecialidad')?.hasError('pattern')">Debe contener solo letras.</span>
      </mat-error>
    </mat-form-field>
    <button  class="btn btn-primary" (click)="guardarOtraEspecialidad()">Guardar Otra Especialidad</button>
    <button  class="btn btn-primary" (click)="volverASeleccion()">Volver a seleccionar especialidad</button>
  </div>
  <div class="form-row">
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Imagen 1 de perfil</mat-label>
        <button mat-icon-button matPrefix (click)="f_input1.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
        <input type="text" readonly matInput [formControl]="imagenUno">
        <input
          type="file"
          hidden
          #f_input1
          (change)="handleFileInputChange($event, 'imagenUno')"
        />
        <mat-error *ngIf="formEspecialista.get('imagenUno')?.hasError('required')">
          Imagen de Perfil 1 es requerida
        </mat-error>
    </mat-form-field>
  </div>
  <div class="form-row">
    <re-captcha formControlName="recaptchaReactive" siteKey="6Le33AYqAAAAAJhNjVMi_ns1hJ6TpRH9K76gXJIG"></re-captcha>
    <mat-error *ngIf="formEspecialista.get('recaptchaReactive')?.touched && formEspecialista.get('recaptchaReactive')?.hasError('required')">
      Captcha es requerido.
    </mat-error>
  </div>
  <button mat-raised-button color="primary" type="submit">Registrar</button>
</form>

<br>
<mat-divider></mat-divider>
<mat-checkbox class="autoCompletar" [color]="'warn'" [(ngModel)]="checked" (change)="onCheckboxChange($event)">
    Auto completar los campos del registro
</mat-checkbox>