.card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #f9f9f9;
  }
  
  .card-body {
    display: flex;
    align-items: center;
  }
  
  .card img {
    border-radius: 50%;
  }
  
  .card h5 {
    margin-bottom: 5px;
  }
  
  .card p {
    margin-bottom: 5px;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .list-group-item.turn-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 15px;
  }
  
  .badge {
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .bg-success {
    background-color: #28a745;
    color: white;
  }
  
  .bg-warning {
    background-color: #ffc107;
    color: black;
  }
  
  .bg-secondary {
    background-color: #6c757d;
    color: white;
  }
  
  .bg-info {
    background-color: #17a2b8;
    color: white;
  }
  
  .bg-dark {
    background-color: #343a40;
    color: white;
  }
  
  .bg-primary {
    background-color: #007bff;
    color: white;
  }
  
  @media (max-width: 768px) {
    .col-md-6.text-md-end {
      text-align: left !important;
    }
  
    .col-md-6.text-md-start {
      text-align: left !important;
    }
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    background-color: rgba(0, 0, 0, 0.5); 
  }

  .card-body.selected img {
    border: 3px solid #007bff; /* Color azul para indicar selección */
  }