<div class="container mt-5">
    <h2 class="mb-4">Turnos de la Clínica - Administrador</h2>
  
    <div class="filters mb-4">
      <input type="text" class="form-control mb-2" placeholder="Filtrar por especialidad" id="filterEspecialidad">
      <input type="text" class="form-control" placeholder="Filtrar por especialista" id="filterEspecialista">
    </div>
  
    <div class="list-group">
      <div *ngFor="let turno of turnos" class="list-group-item turn-card">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h5>Especialidad: {{ turno.especialidad }}</h5>
            <p>Especialista: {{ turno.especialista }}</p>
            <p>Fecha: {{ turno.fecha }}</p>
            <p>Estado: 
              <span [ngClass]="{
                'badge bg-success': turno.estado === 'Confirmado', 
                'badge bg-warning': turno.estado === 'Pendiente', 
                'badge bg-secondary': turno.estado === 'Finalizado',
                'badge bg-danger': turno.estado === 'Cancelado',
                'badge bg-info': turno.estado === 'Aceptado',
                'badge bg-dark': turno.estado === 'Rechazado'
              }">{{ turno.estado }}</span>
            </p>
            <p *ngIf="turno.comentarioCancelacion">Comentario Cancelación: {{ turno.comentarioCancelacion }}</p>
          </div>
          <div class="btn-group">
            <button *ngIf="turno.estado === 'Pendiente'" class="btn btn-danger" (click)="cancelarTurno(turno)">Cancelar turno</button>
          </div>
        </div>
      </div>
    </div>
  </div>