<form [formGroup]="formTurno" class="form">
    <strong style="text-align: start;">Solicitar Turno</strong>
    <br>
    <div class="row">
      <div class="form-control-group col-5">
        <label class="form-label" for="especialidad">Especialidad</label>
        <select formControlName="especialidad" class="form-control" id="especialidad">
          <option *ngFor="let especialidad of especialidades" [value]="especialidad.nombre">{{ especialidad.nombre }}</option>
        </select>
        <ng-container *ngIf="formTurno.get('especialidad')?.touched && (formTurno.get('especialidad')?.hasError('required'))">
            <small class="text-danger" *ngIf="formTurno.get('especialidad')?.hasError('required')"> Especialidad es requerido.</small>
        </ng-container>
        <div class="invalid-feedback" *ngIf="formTurno.get('especialidad')?.invalid && formTurno.get('especialidad')?.touched">
          Debes seleccionar una especialidad.
        </div>
      </div>
  
      <div class="form-control-group col-5">
        <label class="form-label" for="especialista">Especialista</label>
        <select formControlName="especialista" class="form-control" id="especialista">
          <option *ngFor="let especialista of especialistas" [value]="especialista.nombre">{{ especialista.nombre }}</option>
        </select>
        <ng-container *ngIf="formTurno.get('especialista')?.touched && (formTurno.get('especialista')?.hasError('required'))">
            <small class="text-danger" *ngIf="formTurno.get('especialista')?.hasError('required')">Especialidad es requerido.</small>
        </ng-container>
      </div>
    </div>
  
    <div class="row">
        <div class="form-control-group col-5">
          <label class="form-label" for="hora">Hora</label>
          <select formControlName="hora" class="form-control" id="hora">
            <option *ngFor="let hora of horasDisponibles" [value]="hora">{{ hora }}</option>
          </select>
          <ng-container *ngIf="formTurno.get('hora')?.touched && formTurno.get('hora')?.hasError('required')">
            <small class="text-danger">Hora es requerida.</small>
          </ng-container>
        </div>
    
        <div class="form-control-group col-5">
          <label class="form-label" for="fecha">Fecha</label>
          <select formControlName="fecha" class="form-control" id="fecha">
            <option *ngFor="let fecha of fechasDisponibles" [value]="fecha">{{ fecha | date: 'dd/MM/yyyy' }}</option>
          </select>
          <ng-container *ngIf="formTurno.get('fecha')?.touched && formTurno.get('fecha')?.hasError('required')">
            <small class="text-danger">Fecha es requerida.</small>
          </ng-container>
    </div>

  
    <div class="form-control-group col-5">
        <label class="form-label" for="especialista">Paciente</label>
        <select formControlName="paciente" class="form-control" id="paciente">
          <option *ngFor="let paciente of pacientes" [value]="paciente.nombre">{{ paciente.nombre }}</option>
        </select>
        <ng-container *ngIf="formTurno.get('paciente')?.touched && (formTurno.get('paciente')?.hasError('required'))">
            <small class="text-danger" *ngIf="formTurno.get('paciente')?.hasError('required')">Especialidad es requerido.</small>
        </ng-container>
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary">Solicitar Turno</button>
  </form>