<app-spinner *ngIf="isLoading"></app-spinner>

<div *ngIf="!isLoading" class="solicitar-turno-container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center mb-4">Sacar Turno Online</h5>
      <mat-horizontal-stepper [linear]="true" #stepper label="Sacar Turnos">

        <!-- Step 1: Seleccionar Especialidad -->
        <mat-step [stepControl]="especialidadForm">
          <form [formGroup]="especialidadForm">
            <ng-template matStepLabel>Seleccionar Especialidad</ng-template>
            <div class="especialidades-container">
              <div class="especialidad-item" *ngFor="let especialidad of especialidades">
                <button mat-icon-button 
                        [style.backgroundImage]="'url(' + (especialidad.rutaIcono || defaultImage) + ')'"
                        [class.selected]="especialidadSeleccionada === especialidad"
                        (click)="selectEspecialidad(especialidad)">
                  <span>{{ especialidad.nombre }}</span>
                </button>
              </div>
            </div>
            <div>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>

        <!-- Step 2: Seleccionar Especialista -->
        <mat-step [stepControl]="especialistaForm">
          <form [formGroup]="especialistaForm">
            <ng-template matStepLabel>Seleccionar Especialista</ng-template>
            <div class="especialistas-container">
              <button *ngFor="let especialista of especialistas"
                      mat-icon-button
                      [style.backgroundImage]="'url(' + especialista.rutaArchivoUno + ')'"
                      [class.selected]="especialistaSeleccionado === especialista"
                      (click)="selectEspecialista(especialista)">
                <span>{{ especialista.nombre }}</span>
              </button>
            </div>
            <div>
              <button mat-button matStepperPrevious>Anterior</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>

        <!-- Step 3: Seleccionar Día -->
        <mat-step [stepControl]="diaForm">
          <form [formGroup]="diaForm">
            <ng-template matStepLabel>Seleccionar Día</ng-template>
            <div class="dias-container">
              <!-- Verifica si hay días disponibles o no -->
              <ng-container *ngIf="diasDisponibles.length > 0">
                <button *ngFor="let dia of diasDisponibles" 
                        mat-raised-button 
                        [class.selected]="diaSeleccionado === dia" 
                        (click)="selectDia(dia)">
                  {{ formatDateToDayMonth(dia) }}
                </button>
              </ng-container>
              <ng-container *ngIf="diasDisponibles.length === 0">
                <strong style="color: white;">Este especialista no tiene horarios disponibles.</strong>
              </ng-container>
            </div>
            
            <div>
              <button mat-button matStepperPrevious>Anterior</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>

        <!-- Step 4: Seleccionar Horario -->
        <mat-step [stepControl]="horarioForm">
          <form [formGroup]="horarioForm">
            <ng-template matStepLabel>Seleccionar Horario</ng-template>
            <div class="horarios-container">
              <button *ngFor="let horario of horariosDisponibles" 
                      mat-raised-button 
                      [class.selected]="horarioSeleccionado === horario" 
                      (click)="selectHorario(horario)">
                {{ horario }}
              </button>
            </div>
            
            <div>
              <button mat-button matStepperPrevious>Anterior</button>
              <button mat-button (click)="submit()">Confirmar Turno</button>
            </div>
          </form>
        </mat-step>
   
      </mat-horizontal-stepper>
    </div>
  </div>
</div>